@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
}

body, html {
  width: 100%;
  max-width: 100vw;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

/* You may ont @extecn an outer selector from within @media.
   You may only @extend selectors within the same directiv.
   無法由 @media (媒體判斷)去呼叫「外部連結檔」*/
@media screen and (max-width: 576px) {
  header {
    width: 100%;
  }
  header > #MainNav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: gainsboro;
  }
  header > #MainNav #Logo {
    float: left;
    background-color: aqua;
  }
  header > #MainNav #MenuBtn {
    height: 60px;
    float: left;
    text-indent: -9999;
    background-color: cornflowerblue;
  }
}
