// 螢幕裝置 >=1200px Xlarge min-width(最大寬度 含等於) 電腦
header {
    width: $W10 * 9.5;
    display: flex;

    #MainNav {
        position: fixed;
        width: $W1p * 9.5;
        top: 0;
        z-index: 999;
        @include LogoMenuBtn(9, 2vw);
        background-image: url(../../images/Background/003.jpg);

        #Logo {
            img {
                float: left;
                margin-top: auto;
                margin-left: 0px;
                width: $W10 * 2.5;
            }
        }
    
            #MenuBtn {
            display: none;
        }
    
        #icon {
            display: block;
            list-style-type: none;
            display: flex;
            font-size: 25px;
            width: $W10 * 2;
                argin: {top: 30px; right: 15px;}
        }
    
        .BtnBox {
            display: block;
            display: flex;
            list-style-type: none;
            font-size: 25px;
            width: $W10 * 9.5;
            margin-bottom: 10px;
        }
    }
}

footer {
    #Address {
        h4{
            display: none;
        }
        #Information {
            width: $W1p * 10;
            list-style-type: none;
            margin: {top: -5px;}
            display: flex;
        }
    }
}