// 平版裝置 Medium >=768px min-width(最大寬度含等於)Ipad
header{

    width: $W1p * 9.5;
    
    #MainNav {
        position: fixed;
        width: $W1p * 9.5;
        top: 0;
        z-index: 999;
        background-image: url(../../images/Background/003.jpg);
        @include LogoMenuBtn(7, 0vw);

        #Logo {
            img {
                position: relative;
                float: left;
                // background-color: gold;
                margin-left: -100px;
                width: $W10 * 4;
            }
        }
        #MenuBtn {
            float: right;
            height: 60px;
            @include PhoneMenu(center, contain, icon, "menu.svg");
            // background-color: pink;
            margin: {top:15px; right: -85px}
        }

        #icon {
            @include DN;
        }
        .BtnBox {
            @include DN;
        }
        .Clear {
            @include ClearFloat;
        }
    }
    
    #MenuNavOpen {
        @include DN;
    }
}

footer {
    background-image :url(../../images/Background/003.jpg);
    hr {margin-bottom: 0.7rem;}

    .SmallNav {
        margin-bottom: 0.7rem;
        ul {
            width:90;
            display: flex;
            @include DNli;
            li > a {
                color: black;
                text-decoration: none;
                font-size: 20px;
            }
        }
    }
    #CopyRight {
        text-align: center;
        font-size: 20px;
        padding-bottom: 0.5rem;
    }
    #Address {display: none;}
}