header {
    width: $W1p * 10;

    > #MainNav {
        width: $W1p * 10;
        position: fixed;
        top: 0;
        z-index: 999;
        // background-color: rgb(238, 104, 104);
        // background-image: url(../../images/Background/002.jpg);
        @include LogoMenuBtn(8, 5vw);

        // 靠左對齊與(MenuBtn同一行
        #Logo {
            float: left;
            background-color: rgb(179, 243, 243);
        }
        // 靠左對齊與(Logo同一行)
        #MenuBtn {
            height: 48px;
            float: left;
            text-indent: -9999px;
            background-color: rgb(228, 157, 210);
            @include PhoneMenu(center, contain, icon, "menu.svg");
        }

        // icon在手機版是隱藏的
        #icon {
            @include DN;
        }
        .BtnBox {
            @include DN;
        }
        // 在html裡有建立「清除浮動樣式的空白段落在36行 <p class="Clear"></p>」
        .Clear {
            @include DN;
        }
    }

    > #MenuNavOpen {
        @include DN;
    }
}

footer {
    // 物件之間的距離值 vh rem ~ 1rem=16px
    // margin-top: 2rem;
    hr {
        margin-bottom: 1rem;
    }

    // 頁尾手機版次導覽列置中
    nav {
        margin-bottom: 1rem;
        ul {
            width: 80%;
            display: flex;
            @include DNli;
            li > a {
                color: black;
                text-decoration: none;
            }
        }
    }
    // 版權宣告置中
    div {
        margin-bottom: 0.7rem;
        h4 {
            text-align: center;
            padding-bottom: 1rem;
        }
    }

    #Address {
        @include DN;
    }
}