// 超小裝置 Esmall <576px max-width (最小寬度) Iphone 5s/320px>
header {
    width: $W1p * 9;

    > #MainNav {
        position: fixed;
        width: $W1p * 10;
        top: 0;
        z-index: 999;
        // background-color: rgb(238, 104, 104);
        background-image: url(../../images/Background/002.jpg);
        @include LogoMenuBtn(7, 0vw);

        // 靠左對齊與(MenuBtn同一行
        #Logo {
            img {
                position: relative;
                float: left;
                // background-color: gold;
                margin-left: -60px;
                width: $W10 * 6;
            }
        }
        // 靠左對齊與(Logo同一行)
        #MenuBtn {
            float: left;
            height: 55px;
            text-indent: -9999px;
            @include PhoneMenu(center, contain, icon, "menu.svg");
            // background-color: pink;
            margin: {top: 8px; left: 35px;}
        }

        // icon在手機版是隱藏的
        #icon {
            @include DN;
        }
        .BtnBox {
            @include DN;
        }
        // 在html裡有建立「清除浮動樣式的空白段落在36行 <p class="Clear"></p>」
        .Clear {
            @include ClearFloat;
        }
    }

    > #MenuNavOpen {
        // 解開隱藏的部分：寬度與高度(裝置的可視高度)
        // 定位點 絕對定位
        // @include DN;
        width: $W1p * 10;
        top: 0;
        z-index: 999;
        // background-color: rgb(238, 104, 104);
        background-image: url(../../images/Background/002.jpg);
        @include LogoMenuBtn(7, 0vw);

       #navigation {
        position: fixed;
        width: $W1p * 9;
        #Close {
                width: 30px;
                height: 30px;
                list-style-type: none;
                position: relative;
                top: -85px;
                left: 170px;
                font-size: 30px;
                text-align: center;
                // background-color: gold;
            }
        
            >div {
                img {
                    position: relative;
                    float: left;
                    background-image: url(../../images/Background/002.jpg);
                    margin-left: 60px;
                    margin-top: -110px;
                    width: $W10 * 6;
                }
            }
       }

        #LifeShare {
            #SubjectTxet {
                text-align: center;
                position:relative;
                margin-top: 90px;
                padding-bottom: 15px;
            }
        
            >article {
                // 一行兩欄
                display: inline-flex;
                flex-wrap: wrap;
                // margin-top: 0px;
                >.IdImg {
                    width: $W10 * 3.5;
                    padding-bottom: 15px;
                    // box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.5);
                    > .Null {
                        height: 10px;
                    }
                }
            }
        }
    }
}

footer {
    // 背景底圖
    background-image: url(../../images/Background/002.jpg);
    // 物件之間的距離值 vh rem ~ 1rem=16px
    // margin-top: 2rem;
    hr {
        margin-bottom: 0.5rem;
    }

    // 頁尾手機版次導覽列置中
    .SmallNav {
        margin-bottom: 1rem;
        ul {
            width: 90%;
            display: flex;
            @include DNli;
            li > a {
                color: black;
                text-decoration: none;
                font-size: 17px;
            }
        }
    }
    // 版權宣告置中
    #CopyRight {
        margin-bottom: 0.7rem;
        text-align: center;
        font-size: 15px;
        padding-bottom: 0.5rem;
        
    }

    #Address {
        display: none;
    }
}