header {
    width: $W1p * 10;

    > #MainNav {
        width: $W1p * 10;
        position: fixed;
        top: 0;
        z-index: 999;
        background-color: gainsboro;
        @include LogoMenuBtn(8,5);

        // 靠左對齊與(MenuBtn同一行
        #Logo {
            float: left;
            background-color: rgb(179, 243, 243);
        }
        // 靠左對齊與(Logo同一行)
        #MenuBtn {
            height: 60px;
            float: left;
            text-indent: -9999;
            background-color: rgb(228, 157, 210);
            @include PhotoMenu(center, contain, icon, "menu.svg");
        }
    }


}