#Main {

    #Banner {
        // background-color: burlywood;
        width: $W10 *10;
        // 1.溢位設定:將超出的可視範圍給隱藏 2.定位點:相對定位
        overflow: hidden;
        position: relative;
        // 給上方停佇點用的「外間距」根據nav的高度做設定
        margin: {
            top: 40px;
        }

        // 父框架的padding 335px - 子框架的padding 250px = 相差值$Differ
        $ImagePadding: 335px;
        $Differ: 58px;
        .Btn {
            // 1水平置中 2垂直置中:高度=行距 3位置:絕對定位 4移動階層 5計算式 6導入圓角矩形公式
            width: 20px;
            height: 95px;
            text-align: center;
            line-height: 95px;
            font-size: $Trem * 1.2;
            position: absolute;
            z-index: 15;
            top: ($ImagePadding / 2) - (95px / 2);
            @include Rounded(15);
        }
        // 方向 左邊為0(物件靠左對)；float浮點對齊，配合 上下左右 方向推動
        .LeftBtn {
            left: 2.5vw;
            background-color: rgba(255,255,255,0.25);
        }
        .RightBtn {
            right: 2.5vw;
            background-color: rgba(255, 255, 255, 0.25);
        }

        #ImgBox {
            width: $W10 * 10;
            @include DNli;
            // 內間距設定下方間距，當成圖片的高度，單位%或vh
            padding-bottom: $ImagePadding;
            background-color: skyblue;
            li {
                width: $W10 * 10;
                float: left;
                // 絕對定位absolute:單獨呼叫時，原點(0，0)會位於畫面(可視範圍)的左上角
                // 相對定位relative:單獨呼叫時，功能設為重新定位原點至父框架
                // 移動圖片位置:不同手機會有不同的中心位置，無法逐一計算，要利用背景圖片方式修改
                position: absolute;
                font-size: 50px;
                text-align: center;
                padding-bottom: $ImagePadding - $Differ;
            }
            .Item01 {
                @include BPhoto(center, cover, banner, "05.jpg");
            }
            .Item02 {
                @include BPhoto(center, cover, banner, "04.jpg");
            }
            .Item03 {
                @include BPhoto(center, cover, banner, "03.jpg");
            }
            .Item04 {
                @include BPhoto(center, cover, banner, "02.jpg");
            }
            .Item05 {
                @include BPhoto(center, cover, banner, "01.jpg");
            }
        }
    }

    > #PhotoShare{
        // 計算式 
        $TW: $W1p * 7;
        $NW: $W1p * 10 - $TW;

        $TFS: $Trem * 1.7;
        $NFS: $Trem * 1.1;
        // 背景底圖
        background-image: url(../../images/Background/002.jpg);
        #TextLifeShare {
            display: flex;
            justify-content: center;
        }

        > article {
            > .ImgShare {
                width:$W10 * 9;
                margin: {
                    bottom: 20px;
                }
                box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.5);

                > .Null {
                    height: 10px;
                }

                > .Images {
                    width: $W1p * 9.2;
                    margin: {
                        bottom: 10px;
                    }
                    border-radius: 15px;

                    > a {
                        > img {
                            // 圖片邊框:線段粗細 線段樣式(實線) 黑色
                            border: 1.5px solid rgb(0, 0, 0);
                            border-radius: 15px;
                        }
                    }
                }
                
            }
        }
    }
}