// 大平版裝置 >=992px Large min-width(最大寬度 含等於) ipad/pro
header {
    width: $W10 * 9.5;
    display: flex;

    #MainNav {
        position: fixed;
        width: $W1p * 9.5;
        top: 0;
        z-index: 999;
        @include LogoMenuBtn(9, 2vw);
        background-image: url(../../images/Background/003.jpg);

        #Logo {
            img {
                float: left;
                margin-top: auto;
                margin-left: 13px;
                width: $W10 * 4;
            }
        }

        #MenuBtn {
            display: none;
        }

        #icon {
            display: block;
            list-style-type: none;
            display: flex;
            font-size: 25px;
            width: $W10 * 2;
            padding-left: 10px;
        }

        .BtnBox {
            display: block;
            list-style-type: none;
            display: flex;
            font-size: 25px;
            width: $W10 * 9.5;
            // padding-left: 390px;

        }
    }
}

footer {
    background-image: url(../../images/Background/003.jpg);

    .SmallNav {
        margin-bottom: 0.7rem;
        
        ul {
            width: 90;
            display: flex;
            @include DNli;
        
            li>a {
                color: black;
                text-decoration: none;
                font-size: 25px;
            }
        }
    }
        
    #CopyRight {
        text-align: center;
        font-size: 25px;
        padding-bottom: 0.5rem;
    }

    #Address {
        display: block;

        #Information {
            list-style-type: none;
            // width: $W1p * 10;
        }
    }
}