// 超大螢幕裝置 >= 1400px XXlarge min-winth(最大寬度 含等於)
header {
    width: $W10 * 10;
    display: flex;

    #MainNav {
        position: fiexd;
        width: $W1p * 9.11;
        z-index: 999;
        @include LogoMenuBtn(9,0);
        background-image: url(../../images/Background/漸層背景.jpg);
        margin-left: 75px;

        #Logo {
            img {
                float: left;
                margin: {top: 15px; left: 40px;}
                width: $W10 * 2;
                background-color: white;
                opacity: 0.8;
            }
        }

        #MenuBtn {
            display: none;
        }

        #icon {
            display: block;
            list-style-type: none;
            display: flex;
            font-size: 25px;
            width: $W10 * 2;
            margin: {top: 50px; right: 10px;}
        }

        .BtnBox {
            display: block;
            display: flex;
            list-style-type: none;
            font-size: 25px;
            width: $W10 * 9;
            margin: {bottom: 2px;}
        }
        
    }
}

footer {
    width: $W10 * 10;
}