#Main {
    background-image: url(../../images/Background/001.jpg);

    #Banner {
        // 該裝置最大寬度、溢位設定(將超出範圍給隱藏)、定位:相對定位
        width: $W10 * 10;
        overflow: hidden;
        position: relative;

        $ImagePadding: 385px;
        $Differ: 90px;
    }
}