#Main {
    background-image: url(../../images/Background/001.jpg);

    #Banner {
        // 該裝置最大寬度、溢位設定(將超出範圍給隱藏)、定位:相對定位
        width: $W10 * 10;
        overflow: hidden;
        position: relative;
        // 父框架padding335px-子框架padding250px=相差值$Differ85px(可變化)
        $ImagePadding: 385px;
        $Differ: 90px;
        .Btn {
            width: 20px; height: 95px; line-height: 95px;
            font-size: $Trem * 1.2; text-align: center; position: absolute;
            z-index: 15; top: ($ImagePadding / 2)-(95px / 2);
            @include Rounded(15);
        }
        .LeftBtn {left: 2.5vw; background-color: rgba(255, 255, 255, 0.25);}
        .RightBtn {right: 2.5vw; background-color: rgba(255, 255 , 255, 0.25);}
        #ImgBox {width: $W10 * 10; @include DNli;
                 padding-bottom: $ImagePadding; background-color: aqua;
        }
    }
}